/* 
ids
classes
un-opinionated
*/

.flex {
	display: flex;
}

#test:hover{
	display: flex;
}

.fdc {
	display: flex;
	flex-direction: column;
}

.fdr {
	display: flex;
	flex-direction: row;
}

.fw {
	display: flex;
	flex-wrap: wrap;
}
