.wave-body {
	display: flex;
	align-items: center;
    flex-direction: column;
	color: #C5FAD5;
	position: relative;
	cursor: default;
	margin: 5px;
}

.wave-body > * {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

h3 {
	margin: 5px;
}

.spotify {
	height: 40px;
	width: 40px;
	position: absolute;
	bottom: 58px;
    left: 270px;
	/* animation-name: pop, tilt;
	animation-duration: .4s, 1s;
	animation-delay: 0, 5s;
	animation-iteration-count: 1, inifnite; */

	animation: pop .4s, tilt 2s .4s infinite;
}

a {
	color: #FFFFD2;
	text-decoration: none;
}

a:visited {
	color: #FFFFD2;
	text-decoration: none;
}


@keyframes pop {
	from {
		height: 10px;
		width: 10px
	}
	to {
		height: 45px;
		width: 45px;
	}
}

@keyframes tilt {
	0% {
		transform: rotate(10deg)
	} 50% {
		transform: rotate(-10deg)
	} 100% {
		transform: rotate(10deg)
	}
}
