[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
