body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    color: coral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.my-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(255, 94, 244);
    list-style-type: none;
    width: 200px;
    height: 200px;
}

.detail{
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgb(18, 251, 223);
    padding: 5px;
}
.detail:hover{
    cursor: pointer;
    text-decoration: underline;
    text-shadow: 10px 10px 10px rgb(18, 251, 223);
    padding: 10px;
    background-color: rgb(94, 68, 198);
    border-radius: 10px;
}
.clock-div{
    font-size: 12px;
}