/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your code here */
    /* transition-property: transform;
    transition-duration: 2s;
    transition-delay: 0.1s; */

    /* single shorthand property */
    transition: transform 2s 0.1s;

  
}

.rocket_svg:hover{
    transform: rotate(250deg);
}



/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    
    transition: transform 2s;
}

.astronaut_svg:hover{
    transform: translate(100px, 0);
}

/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    animation: spin infinite linear 2s;
}

/* whatever animation starting/ending that we want to apply to our element */
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}