@import './logo.css';
/* 
Make the title a sans serif font
Show some of the generic font families: serif, sans-serif, monospace, cursive, and fantasy
*/
.title {
  font-family: serif;
}

/* Make the body tag have light gray background */
body {
  background-color: lightgray;
}

/* Use the compound class selector for div red-border white-background */

.red-border.white-background{
  border: 1px solid red;
  background-color: white;
}

/* Make p tags that are direct descendant of .parent have a white background */
.parent > p {
  background-color: white;
}

/* Make p tags that are descendants of .parent have a white background */
 /* .parent p{
  background-color: white;
 } */

/* Make li that are not selected color gray https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes*/
li:not(.selected){
  color: gray;
}



/* Adjacent sibling selector */
li.selected + li.selected{
  color: tomato;
}

/* Change the pointer when hovering over the button, hover as a pseudo class */
button:hover{
  cursor: pointer;
}

/* Which one has more specificity id or tag + class */


/* 
font-size: relative vs absolute units, 
font-weight, 
color black in hex, rgb, rgba (talk about alpha value), 
text transform uppercase 
*/
.subtitle-container{
  font-size: 20px;
}

.subtitle{
  font-size: xx-large;
  font-weight: bold;
  background-color: aqua;
  text-transform: uppercase;
  box-shadow: 10px 10px tomato;
}
