extends layout.pug

block title
  title Promises and Fetch Demo

block body
  h1 Promises and Fetch Demo
  .form-container 
    form(action="")
      input(type="password" placeholder="password")
      input(type="submit" value="Submit")
  