doctype
html(lang='en')
  head
    meta(charset='utf-8')
    block title
    link(rel="stylesheet" href="/assets/css/application.css")
    script(src="/assets/js/index.js")
  body
    div
      ul(id="modes")
        li(id="light") Light Mode
        li(id="dark") Dark Mode
    nav
      ul 
        li: a(href="/products") See all Products 
        li: a(href="/products/best-selling") Best-Selling Product
        each category in categories 
          li: a(href="/categories/" + category.tag + "/products")= category.name
        li: a(href="/") Home
      button: a(href="/products/new") Add a Product
    block body
