<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/nav.css">
    <title>Calendar</title>
</head>
<body>
    {% include 'header.html' %}

    <div class="appoint">
        {% for row in rows %}
            <div>{{row[1]}}</div>
            <div>{{row[2]}}</div>
            <div>{{row[3]}}</div>
        {% endfor %}
        {% include 'footer.html' %}
    </div>
</body>
</html>