<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/nav.css">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    <h1>Current Booked Appointments</h1>
    {% for row in rows %}
        <div class="appointment-container">
            <div>{{row[0]}}</div>
            <div>{{row[1]}}</div>
            <div>{{row[2]}}</div>
            <div>{{row[3]}}</div>
        </div>
    {% endfor %}
    {% include 'footer.html' %}
</body>
</html>