/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your code here */
    transition: transform 2s;
}


.rocket_svg:hover{
    transform: rotate(250deg);
}

/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    /* Your code here */
    transition: transform 2s;
}

.astronaut_svg:hover{
    transform: translate(100px);
}

/* Create astronaut hover animation here

/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    animation: 2s linear infinite spin;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
}
