* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}


.flex-container {
  background-color: white;
  width: 80%;
  margin: 50px;
  height: fit-content;
 
  /* ----------CSS FLEX container properties---------- */
  display: flex;
  gap: 10px;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  /* as the container get smaller, we should wrap this around */
  /* flex-wrap: wrap;  */
}  
.flex-item {
  background-color: pink;
  border: 2px solid red;
  border-radius: 5px;
  padding: 20px;
  width: 90px;
  height: 80px;
  text-align: center;
  /* ----------CSS Flex item Properties-------- */

  /* flex-grow: as our container expand, how much space will the elements / content be given / grow */
  /* flex-grow: 1; */

  /* flex-shrink: as the container shrink, how much negative space can we reduce from the THIS content / element   */
  /* flex-shrink: 1; */
  
  /* flex-basis: give the element this amount of space within the container before shrinking/growing, etc. */
  /* giving every flex item a flex-basis of 20% --> fill up 20% of the container */
  flex-basis: 20%;
  /* try flex-basis: 10% */


}

.flex-item.two{
  width: 130px;
  height: 120px;
}

.flex-item.three{
  width: 150px;
  height: 150px;
}

.flex-item.four{
  width: 130px;
  height: 120px;
  flex-basis: 50%;
}