<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cars Page</h1>
    <table>
        <thead>
            <tr>
                <th>Manufacturer Year</th>
                <th>Make</th>
                <th>Model</th>
                <th>Owner Id</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                <tr>
                    <td>{{ car.manu_year }}</td>
                    <td>{{ car.make }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.owner_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
