main {
  background-color: red;
  min-height: 200px;
}
div {
  background-color: blue;
  min-height: 100px;
  padding: 10px;
}
p {
  background-color: red;
}
form {
  box-sizing: border-box;
  padding: 10px;
}
form input, form button {
  width: 75%;
}