body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
form{
    padding : 10px;
    width: 150px;
    height: 200px;
    border: 2px solid black;
}