body{
    display: flex;
    flex-wrap: wrap;
}
div{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}
.screen-left{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
.screen-right{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
.screen-bottom-left{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}
.button{
    height: 100px;
    width: 100%;
}
form{
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    gap: 10px;
}