* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #F5F5F6;
}

body {
    margin: 0;
}

.title {
    background-color: #d70000;
    padding: 20px 50px 50px;
}

.title > h1 {
    color: white;
    font-weight:100;
    font-size:x-large;
    margin: 0;
}

#playground {
    padding: 20px 50px 50px;
}

.button {
    padding: 20px 50px 50px;
}

.red-ball {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.red {
    color: red;
}