<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/css/application.css" rel="stylesheet" />
  <title>Create a Dog</title>
</head>

<body>
  <h1>Create a Dog</h1>
  <form action="/dogs" method="post">
    <label>
      Name:
      <input type="text" name="name" />
    </label>
    <label>
      Age:
      <input type="number" name="age" />
    </label>
    <button type="submit">Submit</button>
  </form>
</body>

</html>