@import './logo.css';

/* 
Make the title a sans serif font
Generic font families: serif, sans-serif, monospace, cursive, and fantasy
*/

html {
  font-size: 12px;
}

.title {
  font-family: sans-serif;
}
/* Make the body tag have light gray background */

body {
  background-color: lightgray;
}

/* Use the compound class selector for div red-border white-background */

.red-border.white-background {
  border: 1px solid red;
  background-color: white;
}

/* Make p tags that are descendants of .parent have a white background */
.parent p {
  background-color: white;
}

/* Make p tags that are direct descendant of .parent have a white background */
.parent > p {
  background-color: green;
}

/* Make li that are not selected color gray https://developer.mozilla.org/en-US/docs/Web/CSS/Pseudo-classes*/

li:not(.selected) {
  color: gray;
}

/* Adjacent sibling selector */
li.selected + li.selected {
  color: red;
}

/* Change the pointer when hovering over the button, hover as a pseudo class */
button:hover {
  cursor: pointer;
  background-color: yellow;
}

/* Which one has more specificity id or tag + class */
div.a-div {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}

#a-div {
  width: 10rem;
  height: 10rem;
  background-color: red;
  border-radius: 50%;
}

/* 
font-size: relative vs absolute units, 
font-weight, 
color black in hex, rgb, rgba (talk about alpha value), 
text transform uppercase 
*/
.subtitle-container {
  font-size: 20px;
}

.subtitle {
  font-size: 2em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
