/* Your code here */
body{
    background-color: #EFEFEF;
}

fieldset{
    background-color: white;
}

.blue-box{
    position: relative;
    top: 40px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: blue;
}
.orange-box{
    position: relative;
    bottom: 40px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: orange;
}

.outer-layer-3 > p + p {
    color: orange;
}

.outer-layer-4{
    box-shadow: 10px 10px 4px rgba(0, 0, 255, 0.6);
}

.outer-layer-5{
    overflow-y: auto;
    overflow-x: hidden;
}
.uppercase.bold {
    font-family: 'Courier New';
}