body {
  display: flex;
  flex-wrap: wrap;
}
div {
  width: 500px;
  height: 500px;
  border: 2px solid black;
}
.screen-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.screen-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
.screen-bottom-left {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
button {
  height: 50px;
  width: 80%;
  margin: 10px;
}
form {
  margin-top: 30px;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  gap: 5px;
}

input {
  margin: 10px 5px;
  width: 90%;
}

#color-input {
  width: 90%;
}
