body {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.ul{
    list-style: none;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px yellow;
}

.clock{
    font-size: 13px;
}