body{
    background-color: white;
    height: 10000px;
}
.main-header{
    color: brown;
    margin-bottom: 50px;
}
.my-form{
    padding: 25px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-and-p{
    border: 10px solid black;
}