<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Package Tracker</title>
    </head>
    <body>
        <h2><a href="/new_package">Send a new package</a></h2>
        <h2>
            <a href="{{url_for('.send_new_package')}}"
                >Send a new package with url_for</a
            >
        </h2>

        {% for package in packages %}
        <div style="margin: 20px"></div>
        <div>Package id: {{package.id}}</div>
        <div>Sender: {{package.sender}}</div>
        <div>Recipient: {{package.recipient}}</div>
        <div>Origin: {{package.origin}}</div>
        <div>Destination: {{package.destination}}</div>
        <div>Current location: {{package.location}}</div>
        <div style="margin: 20px">-----------------------------</div>
        {% endfor %}
    </body>
</html>
