.background {
  background: linear-gradient(
    90deg,
    hsla(77, 100%, 70%, 1) 0%,
    hsla(206, 67%, 75%, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}
