html, body {
    font-family: sans-serif;
}

.container {
    background-color: #2b2d2f;
    position: relative;
}

.element {
    box-sizing: border-box;
    display: inline-block;
    width: 100px;
    height: 280px;
    font-size: 36px;
}

#yellow-box {
    background-color: #ffff00;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}

#pink-box {
    background-color: #ff69b4;
    position: relative;
    bottom: 0;
    left: 0px;
    top: -200px;
    right: 0;
    z-index: 2;
}

#blue-box {
    background-color: #00eeee;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: calc(100px * 2);
    z-index: 3;
}

#red-box {
    background-color: #ff0000;
    position: fixed;
    bottom: 0;
    left: 8px;
    right: 0;
    top: calc(100px * 3 + 92px);
    z-index: 4;
}

#orange-box {
    background-color: #ffa500;
    position: sticky;
    display: inline-block;
    left: 0;
    bottom: -30px;
    z-index: 5;
}