body {
  background-color: #ccc;
}
div.parent {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 5px #555a;
  margin-bottom: 10px;
  padding: 10px;

  /* Flex Stuff */
  display: flex;
  /* flex-wrap: wrap;
  flex-direction: row; */
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  /* height: 100px; */
}
div.parent div {
  background-color: orangered;
  border-radius: 10px;
  font-size: 3em;
  height: fit-content;
  text-align: center;
  /* width: 100px; */

  /* Flex Stuff */
  flex-shrink: 0;
}
div.child.r {
  flex-grow : 1;
}
div.child.l {
  flex-shrink: 1;
}
div.child.c {
  flex: 0 1 50px;
}

/* Media Queries */
/* Media Types:
  all : default
  print: layout of the document when printed
  screen: layout of the document in the browser
  speech: when read by screen-reader
*/
@media screen {
  body {
    font-weight: bold;
  }
}
@media screen and (orientation: portrait) {
  body {
    background-color: black;
  }
}