extends layout.pug

block title
  title Create a Post

block body
  h1 Create a Post
  form(action="/posts" method="post")
    label Title
      input(type="text" name="title")
    label Description 
      textarea(name="description")
    button(type="submit") Submit