body {
    background-color: navy;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: gold;
    margin: 5px;
}

nav {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.tweet {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
}

.feed_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


p:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}
