@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right top, #7df3fc, #6be4ff, #77d2ff, #99bdff, #bda5f5);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    margin: 150px;
}

