h1 {
    font-size: 62px;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    margin: 20px;
    font-weight: bolder;
    text-decoration: wavy underline;
    color: cornflowerblue;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    text-underline-offset: 16px;
    
}

h2 {
    font-size: 42.0px;
    font-family: fantasy;
    padding: 8px;
    margin: 8px;    
    font-weight: 4200;
    color: maroon;
    background-color: chartreuse;
    border-radius: 15px;

}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding: 12px;
    margin: 13px;
    color: thistle;
    background-color: rebeccapurple;
    border-radius: 15px;
}

.logo {
    background-size: cover;
    background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
    background-color:darksalmon;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

/* *{
    transition-delay: 2s;
}
*:hover{
    background-color: chartreuse;
    color: powderblue;
    /* transition-delay: .8s; */
    /* transition-duration: 1s; */
/* } */

body{
    background-color: lemonchiffon;
}

.moral {
    background-color:darkgoldenrod;
    color: peachpuff;
}