.container {
  display: block;
  margin: auto;
  max-width: 800px;
}

.error-msg {
  color: red;
}
.form-row {
  margin: 20px 0;
  display: block;
}

label {
  width: 100%;
  display: block;
  font-weight: bold;
  margin-right: 5px;
}

input[type=text], textarea, select {
  width: 100%;
  height: 1.5rem;
  max-width: 300px;
  border: 1px solid #666;
  border-radius: 2px;
  margin: 5px 0;
  font-size: 1rem;
  padding: 2px 5px;
}

textarea {
  height: 80px;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #99f;
  color: #fff;
  border-radius: 5px;
  border: none;
}
