html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 20px;
}

h1 {
    font-family: 'Tangerine', serif;
}

header {
    background-color: #1d3e81;
    background-image: url("images/8048.jpg");
    background-size: cover;
    background-position: top;
    color: #E8EFF0;
    vertical-align: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 -40px;
}
header.homepage {
    height: 440px;
}

nav {
    background-color: #000021;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    gap: 2px;
    margin: 0 -40px;
}
nav a {
    background-color: #1d3e81;
    text-decoration: none !important;
    color: #E8EFF0;
    padding: 12px;
    flex: 1 1 100%;
    text-align: center;
    display: grid;
}
nav a:hover {
    background-color: #0D47A1;
}
nav a.selected {
    background-color: #0D47A1;
    color: #000021;
    cursor: default;
}

/*!!START */
/* Phase 1: Hide nav buttons when printing */
@media print {
    nav {
        display: none;
        visibility: hidden;
    }
}

/* Phase 2: Keep header from covering more than ~50% of the page */
@media (max-height: 640px) {
    header.homepage {
        height: 220px;
    }
}

/* Phase 3: Hide underline on links unless hovering... */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* ...while keeping underline for links only on devices without hover mode */
@media (hover: none) {
    a {
        text-decoration: underline;
    }

    body {
        padding-bottom: 50px;
    }

    nav {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
    }
}
/*!!END */
