.photo-card {
    background-color: #1d3e81;
    color: #E8EFF0;
    padding: 0.5rem 2rem 1.5rem 2rem;
    border-radius: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.photo-card a {
    color: #E8EFF0;
}
.photo-card img {
    width: 100%;
}

.photo-card p {
    text-align: justify;
}

.photo-card .content {
    display: block;
    text-align: center;
}

/* Your code here */