doctype
html(lang='en')
  head
    meta(charset='utf-8')
    block title
  body
    nav
      ul 
        li: a(href="/posts") See all posts
        li: a(href="/posts/new") Create a Post
    block body
