<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Academy Adventure</title>
</head>

<body>
  <h1>Welcome to App Academy Adventure!</h1>
  <p>To start, select a username and room:</p>
  <form method="post" action="/player">
    <input type="text" placeholder="Username" name="name" />
    <select name="roomId" required>
      <option value="" selected disabled>--Choose a starting room--</option>
      #{availableRooms}
    </select>
    <button type="submit">Enter New Adventure</button>
  </form>
</body>

</html>