/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your code here */
    transition-property: transform;
    transition-duration: 2s;
}
.rocket_svg:hover{
    transform: rotate(250deg);
}
/* Create rocket hover animation here

/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    /* Your code here */
    transition: transform 2s;
}

.astronaut_svg:hover{
    transform: translateX(100px);
}

/* Create astronaut hover animation here

/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    /* Your animation here*/
    animation-name: whatever;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes whatever {
    /* Set up your keyframe animation here*/
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
