body {
    background-color: #efefef;
}
fieldset{
    background-color: white;
}

.blue-box, .orange-box{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    /* background-color: blue; */
}
.blue-box{
    background-color: blue;
}
.orange-box{
    background-color: orange;
    top: -40px;
}

.outer-layer-2{
    position: relative;
}

.outer-layer-3 p + p{
    color: orange;
}

.outer-layer-4{
    box-shadow: 0 0 4px rgba(0, 0, 255, 0.6);
}


.outer-layer-5{
    /* overflow: hidden scroll; */
    overflow-x: hidden;
    overflow-y: scroll;

}


.uppercase.bold{
    font-family: 'Courier New';
}
