[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
