/* Your code here */

/* problem 1 */
body {
    background-color: #EFEFEF;
}

fieldset{
    background-color: white;
}


/* problem 2 */
.outer-layer-2 {
    /* position: relative; */
}

.blue-box,
.orange-box {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    position: relative;
}

.blue-box{
    background-color: blue;
    top: 40px;
}

.orange-box {
    background-color: orange;
    bottom: 40px;
}

/* problem 3 */
.outer-layer-3 p + p{
    color: orange;
}

/* .outer-layer-3 p:nth-child(3){
    color: orange;
} */

/* problem 4 */

.outer-layer-4 {
    box-shadow: 0 0 4px rgba(0, 0, 255, .6);
}

/* problem 5 */
.outer-layer-5{
    /* overflow-y: scroll; */
    overflow: scroll;
    overflow-x: hidden;
    /* overflow: auto; */
}


/* problem 6 */

/* .uppercase.bold {
    font-family: 'Courier New';
} */

.bold.uppercase{
    font-family: 'Courier New';
}