/* Styling for image placeholder without a src attribute */
/*
	tag selector
	id selector
	class selector
	universal selector
*/

/*
	specifity levels
		0 , 0 ,  0
	   id  class tag
*/


/* * {

} */

/* img {
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

img {
    width: 200px;
    height: 300px;
    border: 10px solid rgb(245, 18, 18);
} */


/* #li-one {
	border: 5px solid yellow;
}

.li-one {
	border: 5px solid rgba(61, 45, 201, 0.702);
} */

.one.two.three.four{
	color: blue;
	font-size: 2rem;
	background-color: white;
	font-family: sans-serif;
}

/* #a-id#a-id-one#a-id-two.a-class-one.a-class-two {
	color: salmon;
	font-size: 10rem;
	background-color: aqua;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.one {
	color: red
}

.two {
	font-size: 5rem;
}

.three {
	background-color: purple;
}

.four {
	font-family: fantasy;
}



.yellow-border {
	border: 1px solid yellow;
}

.red-border {
	border: 1px solid red;
}

.blue-border {
	border: 1px solid blue;
}

.font-size-s {
	font-size: 16px;
}

.font-size-m {
	font-size: 20px;
}

.font-size-l {
	font-size: 36px;
}

#a-color {
	color: purple;
}

.a-color {
	color: blue;
}

a {
	color: yellow;
}


/* Phase 2 wrapper borders */
div#header {
    border: 10px dashed #648fff;
    margin: 10px;
}

div#title {
    border: 10px dotted #dc267f;
    margin: 10px;
}

div.article {
    border: 10px solid #785ef0;
    margin: 10px;
}

div.external-links {
    border: 10px double #fe6100;
    margin: 10px;
}

div#footer {
    border: 10px solid #ffb000;
    margin: 10px;
}


/* Phase 3 wrappers - background-color */
header {
    background-color: #648fff;
    border: 10px solid black;
    margin: 10px;
}

nav {
    border: 10px solid #ffffff;
    background-color: #9bb3f1;
    margin: 10px;
}

main {
    border: 10px solid black;
    margin: 10px;
}

section {
    background-color: #dc267f;
    margin: 10px;
}

article {
    background-color: #785ef0;
    margin: 10px;
}

aside {
    background-color: #fe6100;
    margin: 10px;
}

footer {
    border: 10px solid black;
    margin: 10px;
    background-color: #ffb000;
}
