[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-wtf = "*"
flask-login = "*"
python-dotenv = "*"
pycodestyle = "*"

[requires]
python_version = "3.9"
