.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  transition: left 0.5s, opacity 0.8s;
  background-color: white;
  opacity: 1;
  z-index: 100;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 1px 0px 3px 0px #e2e2e2;
}

.sidebar.sidebar--hidden {
  left: -240px;
  opacity: 0;
}

.sidebar__list > li {
  position: relative;
  padding: 6px;
  cursor: pointer;
}

.sidebar__list > li:hover {
  background-color: #f0f8fc;
}

.sidebar__list > li .sidebar__submenu {
  display: none;
  position: absolute;
  left: 160px;
  top: -20px;
  flex-direction: column;
  border: 1px solid #e2e2e2;
  background-color: white;
}

.sidebar__list > li:hover .sidebar__submenu {
  display: flex;
  width: 200px;
  padding: 14px;
  z-index: 200;
}

.sidebar__submenu li {
  margin: 2px 0;
  padding: 4px 0;
  position: relative;
}

.sidebar__submenu li.sidebar__subheader {
  color: #999;
  text-transform: uppercase;
  font-size: 9px;
}

.sidebar__arrow-inside, .sidebar__arrow-outside {
  position: absolute;
  right: 0;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.sidebar__arrow-inside {
  border-left: 8px solid white;
}

.sidebar__arrow-outside {
  border-left: 8px solid #e2e2e2;
  margin-top: 0px;
  margin-right: -2px;
}

.sidebar__submenu li:not(.sidebar__subheader):hover {
  background-color: #f0f8fc;
}

.sidebar__sub-arrow-inside, .sidebar__sub-arrow-outside {
  position: absolute;
  left: -20px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.sidebar__sub-arrow-inside {
  border-right: 20px solid white;
}

.sidebar__sub-arrow-outside {
  border-right: 20px solid #e2e2e2;
  margin-top: 0px;
  margin-left: -1px;
}