.item-1 {
  background-color: mediumpurple; /* purple */
}
.item-2 {
  background-color: mediumseagreen; /* green */
}
.item-3 {
  background-color: indianred; /* red */
}
.item-4 {
  background-color: deepskyblue; /* blue */
}