.stats, .base-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sp-stats {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background: #d60340;
  color: white;
  width: 140px;
  height: 40;
}
