.photo-card {
    background-color: #1d3e81;
    color: #E8EFF0;
    padding: 0.5rem 2rem 1.5rem 2rem;
    border-radius: 2rem;
    margin: 0 0 10px 0;
    text-align: center;
}

.photo-card a {
    color: #E8EFF0;
}
.photo-card img {
    width: 100%;
}

.photo-card p {
    text-align: justify;
}

.photo-card .content {
    display: block;
    text-align: center;
}

/* Phase 5: Use side-by-side layout as single-column or double column */
/* Phase 6: And when printing */
@media (min-width: 600px) and (max-width: 900px), (min-width: 1200px), print {
    .photo-card {
        text-align: left;
    }
    .photo-card img {
        width: content-box;
        flex: 0;
    }
    .photo-card .content {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        text-align: left;
    }
}

/* Phase 5: Allow for 2 "columns" of cards when there's enough width */
@media (min-width: 900px) {
    .photo-card {
        display: inline-block;
        width: calc(50% - 80px);
        vertical-align: top;
    }
}

/* Phase 6: Prevent a page break in the middle of a card */
@media print {
    .photo-card {
        page-break-inside: avoid;
    }
}