html,
body {
  font-family: Georgia, Cambria, "Times New Roman";
  box-sizing: border-box;
  margin: 0;
}

.header {
  margin: 0 auto;
  width: 80%;
}

.nav__upper {
  padding: 20px;
  position: relative;
  border-bottom: black solid 2px;
  width: 100%;
}

.upper__left {
  height: 32px;
  width: 32px;
}

.upper__right {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 0;
}

.sign-in,
.get-started {
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  padding: 12px;
}

.sign-in {
  padding: 7px 16px 9px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #416440;
  text-decoration: none;
}

.get-started {
  color: #1a8917;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 16px 9px;
  border: 1px solid #1a8917;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
}

.nav__lower {
  text-align: center;
  margin: 0 auto;
  border-bottom: solid 2px black;
  width: 105%;
}

.get-started:hover {
  background-color: #1a8917;
  color: white;
}

.nav__lower a {
  display: inline-block;
  margin: 0 16px;
  padding: 7px;
  text-decoration: none;
  font-weight: 500;
  color: #757575;
  font-size: 16px;
}

.content {
  width: 35%;
  padding: 1em;
  margin: 0 auto;
  position: relative;
}

.main__img {
  width: 100%;
}

h1 {
  box-sizing: border-box;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  overflow-wrap: break-word;
}

p {
  font-size: 21px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 42px 0px -9.66px;
}

h2 {
  font-size: 30px;
  margin: 58.5px 0px -8.4px;
  font-family: Arial, Helvetica, sans-serif;
}

.external_links {
  padding: 1em;
}

ul {
  font-size: 18px;
  display: inline-block;
}

li a {
  color: blue;
  font-size: 18px;
}

.external_img {
  height: 15px;
  width: 15px;
}

.grid {
  margin: 0 auto;
  padding: 1em;
  width: 60%;
}

.grid a {
  text-decoration: none;
  color: #272727;
  font-weight: 600;
  display: inline-block;
  max-width: 48%;
  padding-bottom: 25px;
}

.grid a:nth-child(odd) {
  float: left;
}
.grid a:nth-child(even) {
  float: right;
}

.footer {
  position: relative;
  margin: 0 auto;
  padding: 0.5em;
  clear: both;
}

.footer__left {
  position: absolute;
  height: 32px;
  width: 32px;
}

.footer__right a {
  right: 5px;
  text-decoration: none;
  font-size: 16px;
  padding: 1em;
  color: #272727;
}

.footer__right {
  position: absolute;
  right: 0%;
}
