body {
	height: 100vh;
	width: 100vw;
	background-color: black;
	margin: 0rem;
	overflow: hidden;
}

#images {
	display: flex;
	gap: 4vmin;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(0%, -50%);
	user-select: none;
}

#images > .image {
	width: 40vmin;
	height: 56vmin;
	object-fit: cover;
	object-position: 100% center;
}
