table {
  border-collapse: collapse;
  width: 35vw;
}

td,
th {
  border: 3px solid #000;
  padding: 0.5rem;
  text-align: left;
  background: #fff;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.background {
  background: linear-gradient(
    90deg,
    hsla(77, 100%, 70%, 1) 0%,
    hsla(206, 67%, 75%, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
}
